<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="refresh" content="7; url='{{rootPath}}artikelen.html'" />
	</head>
	<body>
		<p>Je wordt binnenkort doorgestuurd naar {{site.title}}!</p>
	</body>
</html>
